<a href="https://colab.research.google.com/github/janedewes/IBMdb2/blob/master/ibm03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Analyzing a real world data-set with SQL and Python

Introduction

This notebook shows how to store a dataset into a database using and analyze data using SQL and Python.

- Understand a dataset of selected socioeconomic indicators in Chicago
- Learn how to store data in an Db2 database on IBM Cloud instance
- Solve example problems to practice your SQL skills

Selected Socioeconomic Indicators in Chicago

The city of Chicago released a dataset of socioeconomic data to the Chicago City Portal. This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

Connect to the database

(first load the SQL extension and establish a connection with the database)

In [ ]:
 %reload_ext sql

In [ ]:
# Remember the connection string is of the format:
%sql ibm_db_sa://....@....@xxxxxx.xxxxx.xxxx.xxxxx.net:xxxxx/BLUDB
# Enter the connection string for your Db2 on Cloud database instance below
# i.e. copy after db2:// from the URI string in Service Credentials of your Db2 instance. Remove the double quotes at the end.

Store the dataset in a Table

In [ ]:
import pandas
chicago_socioeconomic_data = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')

In [ ]:
chicago_socioeconomic_data

In [ ]:
%sql SELECT * FROM chicago_socioeconomic_data limit 5;

Analysis

In [ ]:
# 1.How many rows are in the dataset?
%sql SELECT COUNT(*) FROM chicago_socioeconomic_data;

In [ ]:
# 2.How many community areas in Chicago have a hardship index greater than 50.0?
%sql SELECT COUNT(*) FROM chicago_socioeconomic_data WHERE hardship_index > 50.0;

In [ ]:
# 3.What is the maximum value of hardship index in this dataset?
%sql SELECT MAX(hardship_index) FROM chicago_socioeconomic_data;

In [ ]:
# 4.Which community area which has the highest hardship index?
%sql SELECT community_area_name FROM chicago_socioeconomic_data where hardship_index=98.0


<!-- Hint:
## We can use the result of the last query to as an input to this query:
%sql SELECT community_area_name FROM chicago_socioeconomic_data where hardship_index=98.0
## or another option:
%sql SELECT community_area_name FROM chicago_socioeconomic_data ORDER BY hardship_index DESC NULLS LAST FETCH FIRST ROW ONLY;
## or you can use a sub-query to determine the max hardship index:
%sql select community_area_name from chicago_socioeconomic_data where hardship_index = ( select max(hardship_index) from chicago_socioeconomic_data ) 
Correct answer: 'Riverdale'
-->

In [ ]:
# 5.Which Chicago community areas have per-capita incomes greater than $60,000?
%sql SELECT community_area_name FROM chicago_socioeconomic_data WHERE per_capita_income_ > 60000;

In [ ]:
# 6.Create a scatter plot using the variables per_capita_income_ and hardship_index. Explain the correlation between the two variables.

# if the import command gives ModuleNotFoundError: No module named 'seaborn'
# then uncomment the following line i.e. delete the # to install the seaborn package 
# !pip install seaborn
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

income_vs_hardship = %sql SELECT per_capita_income_, hardship_index FROM chicago_socioeconomic_data;
plot = sns.jointplot(x='per_capita_income_',y='hardship_index', data=income_vs_hardship.DataFrame())

#Correct answer:You can see that as Per Capita Income rises as the Hardship Index decreases.
#We see that the points on the scatter plot are somewhat closer to a straight line in the negative direction, 
#so we have a negative correlation between the two variables.

OBS: use JNB!!